@import "../../styles/variables.scss";

.input-container {
  margin-bottom: $input-bottom-margin;
  position: relative;
  width: 100%;

  label {
    position: absolute;
    top: 1.5rem;
    left: 1.4rem;
    right: 1.4rem;
    font-size: $input-label-fontsize;
    font-weight: 400;
    z-index: 1;
    pointer-events: none;
    transition: all $input-transition-time ease-in-out;
    color: $input-label-color;
  }

  input:focus ~ label,
  input[data-touched="true"] ~ label,
  input:not([data-touched="true"]):not([value=""]) ~ label {
    top: 0.6rem;
    font-size: $input-label-fontsize-touched;
  }

  input {
    display: flex;
    position: relative;
    color: $input-value-color;
    background-color: #fff;
    border: $input-border;
    border-radius: $input-border-radius;
    font-size: $input-value-fontsize;
    line-height: $fontsize-l;
    min-height: 4rem;
    width: 100%;
    padding: 2rem 1.2rem 0.5rem;
    transition: border-color $input-transition-time ease-in-out;
    will-change: border-color;

    &::placeholder {
      transition: opacity $input-transition-time ease-in-out;
      opacity: 0;
    }
    &[data-touched="true"]::placeholder,
    &:focus::placeholder {
      opacity: 1;
    }

    &[data-touched="true"]:not(:focus):invalid {
      &::placeholder {
        color: $wrong-red;
      }
    }
    &[data-touched="true"]:invalid {
      border-color: $input-error-color;

      & ~ .input-error {
        display: block;
        margin-top: $input-error-margin-top;
        margin-inline-start: $input-error-margin-start;
      }
      & ~ .input-error:empty {
        display: none;
      }
    }
  }

  button {
    cursor: pointer;
    position: absolute;
    right: 1rem;
    top: 1.2rem;
    text-decoration: underline;
    border: none;
    background-color: transparent;
    font-size: 2rem;
  }

  .input-error {
    display: none;
    color: $input-error-color;
    font-size: $input-error-message-fontsize;
    margin-bottom: 0;
  }
}
